@font-face {
    font-family: 'craketest';
    src: url('FONT/craketest-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Planet Kosmos';
    font-style: normal;
    font-weight: normal;
    src: url('FONT/PLANK___.woff'), format('woff');
}

@font-face {
    font-family: 'JetBrains Mono NFM';
    font-style: normal;
    font-weight: normal;
    src: url('FONT/JetBrainsMonoNerdFontMono-Regular.ttf'), format('ttf');
}

@font-face {
  font-family: 'Monofrik';
  font-style: normal;
  font-weight: normal;
  src: url('FONT/Monofrik Demo.ttf'), format('ttf');
}

@font-face {
  font-family: 'NeueMontreal';
  font-style: normal;
  font-weight: normal;
  src: url('FONT/NeueMontreal-Medium.otf'), format('open type');
}

@font-face {
  font-family: 'M2P';
  font-style: normal;
  font-weight: normal;
  src: url('FONT/M2PRegular-00xo.ttf'), format('ttf');
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.main-wrapper {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}


html {
  scroll-behavior: smooth;
  overflow-y: scroll; 

  
}

#contact-me {
  scroll-margin-top: 20vh;
}

#work-contentv2 {
  scroll-margin-top: 15vh;
}

body, html {
    overflow-x: hidden !important;
    width: 100%;
    position: relative;
    
}

#landing-experimental {
    position: relative;
    width: 100%;
    min-height: 120vh;
    overflow: hidden;
}

#loaderWrapper {
  position: fixed;
  inset: 0;
  background:#ffffff;
  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  top: 0;
  margin-top: 0;

  filter: blur(10px);
  transition: filter 0.3s ease, opacity 0.5s ease; 
}

.loaderWrapper.active {
  pointer-events: all;
}

.loader-number {
  color: white;
  font-family: 'Monofrik', sans-serif;
  font-size: 10rem;
  letter-spacing: -6px;
}

.data{
  opacity: 0;  
}

.nav-link {
  cursor: default;
}

#landing-experimental::after {
    content: "";
    position: absolute;
    top: 0 ;
    left: 0;
    width: 100%;
    height: 100%;
   
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 7;
    mix-blend-mode: multiply;

    pointer-events: none;
    z-index: 99;
}



#webGLApp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;

  clip-path: inset(78% 90% 90% 78%); 
  transition: clip-path 1.5s cubic-bezier(0.83, 0, 0.17, 1);
}


body.active #webGLApp {
  clip-path: inset(0% 0% 0% 0%);
}

.data {
    opacity: 0;
   
    
    transition: opacity 0.8s ease 0.8s, transform 0.8s ease 0.8s;
}

body.active .data {
    opacity: 1;
}

canvas {
  -webkit-mask-image: linear-gradient(to bottom, 
    rgba(0,0,0,1) 0%, 
    rgba(0,0,0,1) 70%, 
    rgba(0,0,0,0) 100%
  );
  mask-image: linear-gradient(to bottom, 
    rgba(0,0,0,1) 0%, 
    rgba(0,0,0,1) 70%, 
    rgba(0,0,0,0) 100%
  );
}

.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  text-align: center;
  white-space: nowrap;
  pointer-events: none;
  text-wrap: auto;
  font-family: "Syne", sans-serif;
  font-size: clamp(3.5rem, 9vw, 9rem);
  font-weight: 700;
  letter-spacing: -0.02em;
  text-transform: none;
  line-height: 1;
}

.hero-text {
    display: block;
    font-family: 'Planet Kosmos', sans-serif;
    font-size: 9.5vw; 
    letter-spacing: 2px;
    margin-top: 90px;
    text-shadow: 0.5px 1px 2px rgb(50, 50, 50), 0 0 1em rgb(186, 186, 186);

    z-index: 100;
    position: absolute;
}

.scheme-btn-fixed-wrapper {
 margin-top: -100px;
 position: relative;
 z-index: 9999999999999999;
}

.scheme-btn-fixed {
  left: 2rem;
  margin-left: 60px;
  
  padding: 0.75rem 1.5rem;
  background: rgba(71, 71, 71, 0.1);
  backdrop-filter: blur(10px);
  border: solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  
  color: rgb(255, 255, 255);
  font-family: 'Syne', sans-serif;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0,05em;
  cursor: pointer;
  transition: all 0.3s ease;

}

.scheme-btn-fixed:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgb(255, 255, 255, 0.5);
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  pointer-events: none !important;
  z-index: 99999999999999;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease, border-width 0.2s ease;
  background: transparent;
  will-change: transform;

  margin-left: -21px; 
  margin-top: -21px;
}

.custom-cursor::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
}


/* ------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

body {
    background-color: #000000;
    color: #fff;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 60px;
    position: fixed;
    width: 100%;
    top: 0 !important;
    z-index: 100;
}

#landing-home, .date, .logo-text {
    pointer-events: none;
}

nav, nav a, .data {
    pointer-events: auto
}

.date {
    text-align: left;
    margin-right: 60px; 
    font-family: Arial, Helvetica, sans-serif;
}

.date p {
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0px;
    line-height: 1.2;
}

.grid-hiasan {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: repeat(4, auto);
    gap: 40px;
    width: 60%;
    text-transform: uppercase;
}

.logo-text {
    font-size: 0.7rem; 
    letter-spacing: -0.1px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 2px;
    line-height: 1.2;
    font-stretch: semi-condensed;
}

nav {
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {

    color:#fff;
    text-decoration: none;
    margin-left: 30px;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    line-height: 1.2;
    opacity: 0.2s;

    margin-bottom: 0px;
    margin-top: 0px;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
}

nav a.data:hover {
    pointer-events: auto;
}

.nav-link.data {
    opacity: 0; 
    transition: 0.3s ease;
}

.nav-link.data:hover {
    opacity: 0.5 !important;
    cursor: default;
    transition: 0.3s ease;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 50px;
}

.recents-work {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: left;
    padding: 10px 50px;
    margin-bottom: 10px;
}

.landing-work {
    min-height: 100vh;
}


hr {
    padding: 15px 50px;
    border: none;
    border-top: 1px solid white;
    margin-right: 50px;
    margin-left: 50px;
}

.work-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 50px;

    font-family: 'Open Sans', sans-serif !important;
    font-size: 1rem; 
    letter-spacing: 1px;
    font-stretch: semi-condensed;
    gap: 90px 20px;
    
}

.work-item img {
    width: 100%;
    aspect-ratio: 5 / 3;
    object-fit: cover;
    object-position: center;
    margin-top: 0px;
    cursor: pointer;
}

.work-item img:hover {
    opacity: 0.9;
}

.landing-page {
    min-height: 20vh;
}

.landing-about {
    min-height: 100vh;
}

.landing-workv2 {
    min-height: 100vh;
}

.line-sapcerv2 {
    display: flex;
    padding: 0px 50px;
    border: none;
    border-top: 1px solid white;
    margin-right: 50px;
    margin-left: 50px;
    justify-content: center;
}


.recents-workv2 {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: left;
    padding: 10px 50px;
    margin-bottom: 10px;
  }


.work-itemv2 {
    position: relative;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;

    padding: 0px 50px;
    margin: -5px 0;

    line-height: 1;

    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: -2px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  line-height: 1;
  pointer-events: auto;

  color: inherit;
  text-decoration: none;
}

.work-category {
  font-family: 'Planet Kosmos', sans-serif;
  font-size: 2rem;
  flex: 1;
  text-align: center;
  opacity: 0;
  transition: all 0.7s ease;
}

.work-itemv2:hover .work-category {
  opacity: 1;
  transition: opacity 0.4s ease-out'
}

.work-itemv2 img {
  width: 30%;
  position: absolute;
  aspect-ratio: 5 / 3 ;
  object-fit: cover;

  opacity: 0;
  transition: all 0.7s ease;
  position: sticky;
  pointer-events: none;
  
}

.work-itemv2:hover img {
  opacity: 1;
  
  transition: opacity 0.4s ease-out;
}

.work-description {
    font-family: 'Inter', sans-serif;
    text-transform: normal;
    font-size: 1.5rem;
    opacity: 0.7;
    justify-content: left;
} 

.work-description:hover {
    opacity: 0.5;
}

.h4 {
    cursor: default;
}

.h4:hover {
    opacity: 0.7;
}

.about-title {
    margin-top: 130px;
    font-family: 'Metrik', sans-serif;
    width: 100%;
    font-size: 25vw; 
    display: flex;
    justify-content: center;
    padding: 10px 50px;
    margin-bottom: 0px;
    white-space: nowrap;
    z-index: 10;
}

.aboutme-container {
  position: relative;
  padding: 80px;
  overflow: visible;
}

.aboutme-content {
  display: flex;
  align-items: center;

  gap: 40px;
  max-width: 900px;
  margin: 0;
  transform: scale(1.2);
  transform-origin: left center;
  position: relative;
  z-index: 1;
}

.aboutme-image {
  z-index: 1;
  margin-top: -110px;
}

.aboutme-image img {
  width: 300px;
  height: 430px;
  object-fit: cover;
}

.aboutme-hero {
  font-family: 'Planet Kosmos', sans-serif;
  font-size: 4rem;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: -30px; 
  line-height: 1;
}


.about-description {
  font-family: 'Metrik', sans-serif;
  white-space: pre-line; 
  text-align: justify;
  top: 0;
  margin-left: 0;
  padding-left: 0;
  font-size: 15px;    
  line-height: 1.6;
  color: #fff;        
  margin: 0;
}

.text-container {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    display: flex;
}

.text-animation {
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    
    width: max-content;
    display: flex;
    padding-left: 0;
    padding-right: o;
    display: inline-block;
    white-space: nowrap;

    animation: gerak 5s linear infinite;
}

.text-animation::after {
    content: "jahvuav aehabdahda cabdhadadada jahvuav aehabdahda cabdhadadada";
    display: inline-block;

}


@keyframes gerak {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-25%)
    }
}

.collection-container {
    display: flex;
    gap: 40px; 
    padding: 50px;
    align-items: flex-start;
}

.archive-title {
    font-family: 'Perandory', sans-serif;
    flex: 1;
    font-size: 4rem;
    letter-spacing: 2px;
    position: sticky;
    top: 50px;
}

.archive-wrapper {
    flex: 3; 
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}

.archive-image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    aspect-ratio: 4 / 3;
    border-radius: 8px; 
}

.archive-description {
    margin-top: 10px;
    font-size: 0.9rem;
}

.landing-contact2 {
    min-height: 100vh;
    margin-top: 250px;
}

.contact-title2 {
    font-family: 'Inter', sans-serif;
    width: 100%;
    font-size: 1rem; 
    display: flex;
    justify-content: left;
    letter-spacing: -1;
    padding: 10px 50px;
    margin-bottom: 10px;
}

.contact-item2 {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    padding: 10px 50px;
    font-family: 'Inter', sans-serif;
    font-size: 4.5rem;
    letter-spacing: -2px;
}

.text-wrapper-2 {
    display: flex;
    gap: 30px; 
    align-items: baseline;
    text-decoration: none;
    color: inherit;
}

.contact-description {
    font-family: 'NeueMontreal', sans-serif;
    font-size: 4rem;
    opacity: 0.7;
    
    cursor: default;
}

.contact-description:hover {
    opacity: 1;
}

.contact-sub-description {
    font-family: 'M2P', sans-serif;
    font-size: 5rem;
    margin-left: auto; 
}

.line-sapcer3 {
    display: flex;
    padding: 0px 50px;
    border: none;
    border-top: 1px solid white;
    margin-right: 50px;
    margin-left: 50px;
    justify-content: center;
}

.footer-section {
    width: 100%;
    padding: 40px 50px; 
    margin-top: auto;  
}

.footer-content {
    font-family: 'craketest', sans-serif;
    font-size: 0.5rem;
    opacity: 0.7;
    text-align: center; 
    text-transform: uppercase;
    letter-spacing: 2px;
}
